@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* @keyframes slide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */
/* @keyframes slide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(100% - 100px)); 
  }
  100% {
    transform: translateX(0%);
  }
}


@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-100% + 100px)); 
  }
  100% {
    transform: translateX(0%);
  }
}

.animation-class {
  animation: slide 5s infinite;
} */


@keyframes slide {
  0%, 100% {
    left: 0%;
  }
  50% {
    left: calc(100% - 150px);
  }
}

@keyframes slideToRight {
  0%, 100% {
    left: calc(100% - 150px);  /* Start and end at the right */
  }
  50% {
    left: 0%;  /* Move to the left at the midpoint */
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.animation-up-down {
  animation: upDown 3s infinite;
}

.animation-class {
  position: absolute;
  animation: slide 5s infinite, rotate 5s linear infinite;
}

.animation-rot{
  animation: rotate 5s linear infinite;
}

.slide-animation {
  animation: slideToRight 5s infinite,rotate 5s linear infinite; /* You can adjust the 5s to your desired duration */
  position: absolute;
}
